<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>508995298724-ukm9m485qj7csmuiku2iag4amo5n051l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508995298724-ukm9m485qj7csmuiku2iag4amo5n051l</string>
	<key>API_KEY</key>
	<string>AIzaSyCTj6tMt0sfTmOxw83CgFMfHOdsT4bhkQM</string>
	<key>GCM_SENDER_ID</key>
	<string>508995298724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilanolkies.GAExample</string>
	<key>PROJECT_ID</key>
	<string>xamarin-example-19586</string>
	<key>STORAGE_BUCKET</key>
	<string>xamarin-example-19586.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:508995298724:ios:8f0beab4bafb48a0</string>
	<key>DATABASE_URL</key>
	<string>https://xamarin-example-19586.firebaseio.com</string>
</dict>
</plist>
